<h1>Welcome to the To Do App</h1>

<div class="container">
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>

<form action="/list_success" method="post">
  <div class="form-group">
    <label for="name">Enter a name for your list:</label>
    <input type="name" name="name" id="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add list!</button>
</form>
